:root {
    font-size: 15px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    color: Teal;
   }
   h2 {
    text-align: center;
    color: Teal;
   }
   h3 {
    color: Teal;
   }
   
p  {
    color: Teal;
   
    
}
.sidebar {
top:0;
bottom:0;
left:0;
position:fixed;
height:100%;
width:25%;
font-size:14px;
background:url(images/contact.jpg) top center no-repeat ;
background-size:cover;


text-align:left;
}



.person {
display:block;
-webkit-font-smoothing:antialiased;
color:inherit;
}

.sidebar .person {
text-align:center;
}

.person.image {
border-radius:50%;
margin-bottom:10px;
display: flex;

}

.image {
width:152px;
height:152px;
border-radius:50%;
border: 1px solid Teal;
box-shadow: 0px 3px 20px 2px #2c2c2c;
   
}

.main-navigation {
line-height:30px;
position:relative;
font-size:14px;
text-transform:uppercase;
margin:45px -40px;
position:relative;
padding:0 40px;
}

.main-navigation a {
color:Teal;
text-decoration:none;
display:block;
}

.site-main {
margin-left:27%;
width: 100%
display: block;

}


@media only screen and (max-width: 725px) {
   .person.image {
        order: -1;
    }
   .sidebar{
   width: 100%;
   position: relative;
   }
}


@media (max-width: 1023px)
{
.site-main {
    margin-left: 0;
}
}

section{width:100%; height:300vh;
    background:url(images/bg.jpg) top center no-repeat ;
background-size:cover;
}


span{
    width: 100%;
    color: Teal;
}
ul a:hover{text-decoration:underline;width: 100%;
    color: Teal;
}



.button {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-transform: uppercase;

    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: background-color 0.5s ease-in-out, 1s;
    -moz-transition: background-color 0.5s ease-in-out, 1s;
    -o-transition: background-color 0.5s ease-in-out, 1s;
    transition: background-color 0.5s ease-in-out, 1s;
    text-decoration: none;

     
    text-indent: 30px;
    margin: 3em auto 5em auto;
    color: White;
    border-color: #fff;
    font-size: 1em;
    padding: 1.5em 0;
    width: 75%;

    vertical-align: baseline;
    box-sizing: border-box;
   background: Teal;
 
}
.button:hover{
    color: Teal;
     background: LightYellow;
}


.container {
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.banner .card {
    background: linear-gradient(LightYellow,skyblue);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px Teal;
    display: flex;
    flex-direction: column;
}



.banner .card .heading {
    color: DarkSlateGrey  ;
    font-family: serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 5vw 2vw;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

@media only screen and (max-width: 725px) {
    .row {
        flex-direction: column;
    }
    .row .image {
        order: -1;
    }
    .row .my-image {
        width: 60vw;
    }
}

.paragraph {
    color: #2c2c2c;
    font-family: "Istok Web", sans-serif;
    padding: 5vw 5vw 5vw 0;
}

.icon-group {
    margin-top: 2vh;
}

.icon-group .icon {
    margin-right: 10px;
    width: 50px;
}
.skill
{
    width: 200px;
    height: 200px;
    padding-left: 46px;
    margin-top: 46px;
    background-attachment: fixed;
}

div.gallery {
    border: Lightyellow
}

div.gallery:hover {
  box-shadow: 0px 3px 20px 2px Teal;
}

div.gallery img {
    width: 150px;
    height:200px;
}

div.desc {
    padding: 10px;
    text-align: left;
}

.responsive {
    padding: 0 6px;
   float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
